:root  {
    --bg-color: #fff;
    --font-family:'DM Sans', sans-serif;
    --font-family-secondry: 'Poppins', sans-serif;
    --color: #232323;
    --blue-color:#3484fc;
    --color-light: #ECF2F6;
    --light-blue-color: #000
}
body{
    background-color: #F3F4F6;
}
.text-right{
    text-align: right;
}
.bottom-nav {
    position: fixed;
    bottom: 10px;   
    background: #fff;
    border-radius: 50px;
    padding: 15px 0rem;
    justify-content: space-between;
    z-index: 255;
    /* box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 10%); */
    width: 100%;
    background: transparent;
    left: 0px;
}
.slick-slide .protfolio-img img {
    min-height: 320px;
    max-height: 320px;
}
.navbar-contain {
    background: #fff;
    box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 10%);
    display: flex;
    padding: 10px 5rem;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 100%;
}
.bottom-nav ul{
    width: 100%;
    justify-content: space-between;
}
.we-hiring{
    background:var(--blue-color);
    padding: 10px;
    color: #fff;
    border-radius: 50px;
}
.contact-header ul{
display: flex;
align-items: center;
justify-self: center;
flex-wrap: wrap;
}
.contact-header ul li{
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.contact-header ul li i{
    padding-right: 5px;
}
.contact-header ul li:not(:last-child)::before{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #232323;
    position: absolute;
    right: -10px;
    opacity: 0.5;
}
/* services */
.services-icon {
    width: 45px;
    height: 45px;
    background: var(--blue-color);
    color: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.services-text h5{
    font-size: 20px;
}
.services-grid{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    /* background: linear-gradient(180deg, #3484fc6b 0%, rgb(161 198 254 / 64%) 100%);
    border-image-source: linear-gradient(90deg, #3484fc 0%, rgb(188 224 248 / 0%) 70.31%); */
}
.services-section{
    background-color: transparent;
}
.view-more{
    max-width: 150px;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: 10px;
}
.ml-auto{
    margin-left: auto;
}
/* working */
.working-step-icon{
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--blue-color);
}
.working-step h6{
    margin-bottom: 5px;
    font-size: 22px;
}
.working-step:before {
    content: '1';
    font-size: 126px;
    z-index: -2;
    background: linear-gradient(to top, #EFF0F4 45%, #D6D8E3  62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    right: 0;
    top: -42px;
    font-family: fantasy;
}
.working-step:nth-child(2)::before{
    content: '2';
}
.working-step:nth-child(3)::before{
    content: '3';
}
.working-section{
    background: transparent;
}
.working-section .row{
    position: relative;
}
.working-section .row::before{
    content: '';
    background: url(../img/line.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    top: -123px;
    background-size: contain;
    left: -350px;
    z-index: -1;
}
.working-step {
    position: relative;
    max-width: 310px;
    margin-right: 10px;
}
.working-step p{
    font-size: 14px;
    color: #232323;
}
.working-step:first-child{
    margin-top: 9.5rem;
    margin-left: 14%;
}
.working-step:nth-child(2){
    margin-top: 3rem;
}
.working-step:nth-child(3){
    margin-top: -9rem;
}
.tech-box{
    width: 160px;
    height: 70px;
    padding: 10px;
    margin: 0px 15px 15px 0px;
}
.tech-box img {
 width:75%;
    height: 90%;
}
.tech-box-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* .tech-box:nth-child(2){
    margin-top: 30px;
}
.tech-box:nth-child(5){
    margin-top: 30px;
} */
.tech-box-second {
    margin-top: 30px;
}
/* .tech-box {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 110px;
    margin: 0px 10px;
    font-size: 25px;
}
.tech-box i{
    font-size: 35px;
    margin-right: 10px;
} */
/* protfolio */

.protfolio-box{
    box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 10%);
    margin: 10px 20px;
}
.protfolio-contain {
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    
}

.protfolio-contain h5 {
    color: #000;
    font-size: 25px;
    padding-left: 30px;
}
.protfolio-contain span {
    top: 30px;
    left: 30px;  
    background: transparent;
    width: auto;
    height: auto;
    color: #000;
    font-size: 16px;
    padding: 10px 0px;
    display: block;
}
.protfolio-box {
    border-radius: 20px;
    overflow: hidden;
}
.explore-more a {
    text-decoration: revert;
    font-size: 18px;
    color: var(--blue-color);
}
.tiitle-section {
    width: 55%;
}
.tiitle-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}
/* work toggether */
.lets-work-section{
    background: transparent;
    margin-top: 3rem;
}
.lets-work-shape{
    display: none;
}
.lets-work-contain {
    position: initial;
  
    width: 100%;
   
}
.lets-work{
    background: linear-gradient(310deg, rgba(52, 132, 252, 0.5) 100.13%, rgba(255, 255, 255, 0.6) 101.29%);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(19.028px);
    padding: 40px 0px 50px 0px;
    border-radius: 15px;
    box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 10%);
}
.lets-work-contain .subtitle{
    color: #FFFFFF;
}
/* footer */
footer{
    margin: 0px 0px 6rem 0px;
}
.footer-contain span {
    font-size: 15px;
    color: #232323;
}
.footer-contain:first-child a {
    font-size: 25px;
    padding: 13px 0px 0px 0px;
    display: block;
}
.footer-contain a:last-child {
    font-size: 20px;
    display: block;
}
.footer-social ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-social ul li {
    margin: 0px 10px;
}

.footer-social ul li a {
    width: 35px;
    height: 35px;
    background: #fff;
    box-shadow: 0px 1px 13px 0px rgb(0 0 0 / 10%);
    color: var(--blue-color);
    border-radius: 550%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .container {
        max-width: 90%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media only screen and (max-width : 1280px) {
    .working-step:first-child {
        margin-left: 7%;
    }
    .working-step {
        max-width: 270px;
    }
    .working-section .row::before{
        left: -280px;
    }
}
@media only screen and (max-width : 992px) {
    .tech-box {
        width: 90px;
        height: 60px;
    }
    /* .bottom-nav {
        top: 70px;
        height: 100%;
        width: 100%;
        border-radius: 0px;
        transition: all 0.5s ease-in-out;
    }
    .navbar-contain {
        top: 0;
        bottom: inherit;
        height: calc(100% - 70px);
        border-radius: 0px;
        box-shadow: none;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        padding: 20px;
    } */
    .navbar-contain {
        min-height: 100%;
        padding: 20px;
        flex-direction: row;
        align-items: flex-start;
    }
    
    div#navbarSupportedContent {
        height: 100%;
        bottom: -70px;
        transition: all 0.5s;
    }
}
@media only screen and (max-width: 767px) {
    .working-step:first-child {
        margin-top: 0;
        margin-left: 0;
    }
    .working-step:nth-child(2) {
        margin-top: 0;
    }
    .working-step:nth-child(3) {
        margin-top: 0rem;
    }
    .working-section .row::before{
        display: none;
    }
   
    .tiitle-section {
        width: 100%;
    }
    .tiitle-container{
        flex-direction: column;
    }
    .slick-slide .protfolio-img img {
        min-height: 260px;
    }
    .footer-contain:first-child a {
        font-size: 20px;

    }
}

